@media screen and (max-width: 1200px) {
  .benefits-icon {
    display: none;
  }
  .services {
    display: none;
  }
}
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--dark-bg-color);
}

.hero-text {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--simple-white);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: var(--primary-brand-color);
  color: var(--simple-white);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms var(--transform-style), background-color 250ms var(--transform-style);
}

@media screen and (min-width: 320px) {
  .benefits-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .benefits-heading {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  .benefits-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
  }
  .benefits-item {
    flex-basis: calc(50% - 24px);
    margin-right: 24px;
  }
}
.team {
  background-color: var(--light-bgc);
}

.team-container {
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-heading {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-navi-color);
}

.team-item {
  display: flex;
  justify-content: center;
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.card-content {
  padding-bottom: 32px;
  background: var(--simple-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-navi-color);
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-list {
  padding-left: 16px;
  padding-right: 16px;
}

.team-social-list .team-social-item + .team-social-item {
  margin-left: 24px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms var(--transform-style);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404BBF;
}

.customers {
  padding: 96px 0;
}

.customers-heading {
  margin-bottom: 72px;
  color: var(--dark-navi-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  fill: #8E8F99;
  transition: fill 250ms var(--transform-style), border 250ms var(--transform-style);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid #4D5AE5;
  fill: #4D5AE5;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-item {
  flex-basis: 50%;
  margin-bottom: 72px;
}

.customers-item:nth-child(n+5) {
  margin-bottom: 0;
}/*# sourceMappingURL=sections.css.map */