.main-footer {
background-color: var(--dark-bg-color);    
}

.footer-content {
    padding: 96px 0;    
}

.logo-footer {
    display: block;
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--could-text-color);
}

.text-footer {
    padding-left: 80px;
    padding-right: 80px;    
    margin-bottom: 72px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.footer-heading {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms var(--transform-style);

}

.social-list .social-item+.social-item {
    margin-left: 16px;
}

.social-link:hover,
.social-link:focus {
    background: #31D0AA;
}


.subscription-heading {
    display: block;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-field {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}


.footer-input {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 16px;

    min-height: 40px;
    background: #2E2F42;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;

    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    min-width: 165px;
    max-height: 40px;
    line-height: 0;
    background: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
}

.footer-button::after {
    align-items: center;
    margin-left: 16px;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../../images/buttons/send.svg);
}

@media screen and (min-width:768px) 

{ 

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding-left: 108px;
}

.logo-footer {
    text-align: left;
}

.text-footer {
    width: 264px;
    min-height: 72px;
    padding: 0;
}

.footer-heading {
    text-align: left;
}

.social-content {
    margin-left: 24px;
}

.subscription-heading {
    text-align: left;
}

.footer-field {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer-input {
    display: block;
    min-width: 263px;
    margin-bottom: 0;
    margin-right: 24px;
    
}
}

@media screen and (min-width:1200px) {

.footer-content {
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer {
    margin-right: 120px;
    margin-bottom: 0;
}

.social-content {
    margin-left: 0;
    margin-right: 80px;
}
}