:root {
    --primary-brand-color: #4D5AE5;
    --dark-navi-color: #2E2F42;
    --success-color: #31D0AA;
    --slate-text-color: #434455;
    --light-slate-text: #8E8F99;
    --accent-color: #E7E9FC;
    --could-text-color: #F4F4FD;
    --light-bgc: #F4F4FD;
    --main-white-bgc: #E5E5E5;
    --simple-white: #ffffff;
    --dark-bg-color: #2E2F42;
    --primary-bg-color: #4D5AE5;

    --work-cards-row-gap: 24px;
    --work-cards-colum-gap: 48px;

    --transform-style: cubic-bezier(0.4, 0, 0.2, 1);

}

/* dropdawn */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



/* / dropdawn */

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-text-color);
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width:480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }    
}

@media screen and (min-width:768px) {
    .container {width: 768px;}    
}

@media screen and (min-width:1200px) {
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}    
  
}

@media screen and (max-width:1199px) {
    .benefits-icon {
        display: none;
    }

    .services {
        display: none;
    }
}


